<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
</head>
<body>
    <form action="{% url 'index'%}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <legend>Upload Product and It's details</legend><br>
        <label for="image">Product image:</label>
        <input type="file" id="image" name="image"><br><br>
        <label for="title">Product title:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="price">Product price</label>
        <input type="number" id="price" name="price"><br><br>
        <button type="submit">Upload Product</button>
    </form>
</body>
</html>